@model bitproje.Entitys.Kullanici

@{
    ViewData["Title"] = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    dt {
        height: 28px;
    }
</style>
<div>
    <h4>KULLANICI</h4>
    <hr />
    <div class="col-md-6">

        <dl class="dl-horizontal">
            <dt>
                SİCİL NUMARASI
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Sicilno)
            </dd>
            <dt>
                TC
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tc)
            </dd>
            <dt>
                KULLANICI ADI
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ad)
            </dd>
            <dt>
                KULLANICI SOYADI
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Soyad)
            </dd>
            <dt>
                GÖREV TANIMI
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Gorevtanim)
            </dd>
            <dt>
                BOYU
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Boy)
            </dd>
            <dt>
                KİLOSU
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Kilo)
            </dd>
            <dt>
                KAN GRUBU
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Kangrup)
            </dd>
            <dt>
                CİNSİYET
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cinsiyet)
            </dd>
            <dt>
                DOĞUM YERİ
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Dogumyer)
            </dd>
            <dt>
                DOĞUM TARİHİ
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Dogumtarih)
            </dd>
            <dt>
                ÖĞRENİM DURUMU
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ogrenimdurum)
            </dd>
            <dt>
                STATÜ
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Statü)
            </dd>
            <dt>
                İSG KURUL GÖREVİ
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Isgkurulgorev)
            </dd>
            <dt>
                İŞE BAŞLANGIÇ TARİHİ
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Isebaslangictarih)
            </dd>
            <dt>
                UNVANI
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Unvan)
            </dd>
            <dt>
                DURUMU
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Durum)
            </dd>
        </dl>

        <div>
            
            <a asp-action="ProfilEdit" asp-route-id="@Model.Sicilno"><i class="fas fa-edit" title="GÜNCELLE"></i></a>

        </div>
    </div>
   

</div>

