@model bitproje.Entitys.Personel
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Edit";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>


<h4>PERSONEL BİLGİLERİNİ GÜNCELLE</h4>
<hr />
<div class="row">
    <form asp-action="Edit">
        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sicilnop" />
            <div class="form-group">
                <label class="control-label">PERSONEL ADI</label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">PERSONEL SOYADI</label>
                <input asp-for="Soyad" class="form-control" />
                <span asp-validation-for="Soyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">ÜNVANI</label>
                <input asp-for="Unvan" class="form-control" />
                <span asp-validation-for="Unvan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">ÖĞRENİM DURUMU</label>
                <select asp-for="Ogrenimdurum" class="form-control">
                    <option value="İLKOKUL">İLKOKUL</option>
                    <option value="ORTAOKUL">ORTAOKUL</option>
                    <option value="İLKÖĞRETİM">İLKÖĞRETİM</option>
                    <option value="LİSE">LİSE</option>
                    <option value="TEKNİK LİSE">TEKNİK LİSE</option>
                    <option value="MESLEK LİSESİ">MESLEK LİSESİ</option>
                    <option value="YÜKSEKOKUL">YÜKSEKOKUL</option>
                    <option value="ÜNİVERSİTE">ÜNİVERSİTE</option>
                    <option value="YÜKSEK LİSANS">YÜKSEK LİSANS</option>
                    <option value="DOKTORA">DOKTORA</option>
                </select>
                <span asp-validation-for="Ogrenimdurum" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">CİNSİYET</label>
                <select asp-for="Cinsiyet" class="form-control">
                    <option value="KADIN">KADIN</option>
                    <option value="ERKEK">ERKEK</option>
                </select>
                <span asp-validation-for="Cinsiyet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">BOY</label>
                <input asp-for="Boy" class="form-control" />
                <span asp-validation-for="Boy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">KİLO</label>
                <input asp-for="Kilo" class="form-control" />
                <span asp-validation-for="Kilo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">DOGUM TARİHİ</label>
                <input asp-for="Dogumtarih" class="form-control" />
                <span asp-validation-for="Dogumtarih" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">DOĞUM YERİ</label>
                <input asp-for="Dogumyer" class="form-control" />
                <span asp-validation-for="Dogumyer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">İŞE GİRİŞ TARİHİ</label>
                <input asp-for="Isegiristrh" class="form-control" />
                <span asp-validation-for="Isegiristrh" class="text-danger"></span>
            </div>
            @if (@Context.Session.GetString("grubu") == "A")
            {
                <div class="form-group">
                    <label class="control-label">ÇALIŞTIĞI FİRMA</label>
                    <select asp-for="Firmaid" class="form-control select">
                        @foreach (var k in ViewBag.firması)
                        {
                            <option value="@k.Firmaid">@k.Firmaid /  @k.Funvan </option>
                        }
                    </select>
                </div>
            }
            else if (@Context.Session.GetString("grubu") == "B")
            {
                <input type="hidden" asp-for="Firmaid" />
            }
            else if (@Context.Session.GetString("grubu") == "C")
            {
                <input type="hidden" asp-for="Firmaid" />
            }
            else if (@Context.Session.GetString("grubu") == "D")
            {
                <input type="hidden" asp-for="Firmaid" />
            }
            <div class="form-group">
                &emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <input type="submit" style="background-color:#8f8fa0;font-weight:800" value="KAYDET" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

<div>


    @if (@Context.Session.GetString("grubu") == "A")
    {
        <a asp-action="Gruppersonel">

            <img style="height:35px;" title="Listeye geri dön" src="~/images/Iconsmind-Outline-Back.ico" />
        </a>
    }
    else if (@Context.Session.GetString("grubu") == "B")
    {
        <a asp-action="Firmapersonel">

            <img style="height:35px;" title="Listeye geri dön" src="~/images/Iconsmind-Outline-Back.ico" />
        </a>
    }
    else if (@Context.Session.GetString("grubu") == "C")
    {
        <a asp-action="kullaniciFirmapersonel">

            <img style="height:35px;" title="Listeye geri dön" src="~/images/Iconsmind-Outline-Back.ico" />
        </a>
    }
    else if (@Context.Session.GetString("grubu") == "D")
    {
        <a asp-action="kullaniciFirmapersonel">

            <img style="height:35px;" title="Listeye geri dön" src="~/images/Iconsmind-Outline-Back.ico" />
        </a>
    }
</div>

<script>
    $(".select").select2();
</script>