@model bitproje.Entitys.Receteilac

@{
    ViewData["Title"] = "Delete";
}

<h3>REÇETE İLACI </h3>
<br />
<div>
    <h style="color:red;">REÇETEDEN BU İLACI ÇIKARMAK  İSTEDİĞİNİZE EMİN MİSİNİZ ?</h>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            İLAÇ ADI
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ilac.Ilacadi)
        </dd>
        <dt>
            KULLANIM ŞEKLİ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kullanimsekli)
        </dd>
        <dt>
            KULLANIM ADEDİ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kullanimadedi)
        </dd>
        <dt>
            PERİYODU
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Periyod)
        </dd>
        <dt>
            İLAÇ DOZU
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ilacdozu)
        </dd>

    </dl>

    <form asp-action="Delete">
        <a asp-action="Index" asp-route-id="@Model.Rid">LİSTEYE GERİ DÖN</a> &emsp;|&emsp;
        <input type="hidden" asp-for="Rilacid" />
        <input type="submit" style="font-size:13px;font-weight:bold;height:27px;width:70px;" value="SİL" class="btn btn-danger" />

    </form>
</div>
